<app-header></app-header>
<div class="container-fluid ">
    <div class="row justify-content-center min-vh-100 align-items-center ">
        <div class=" mt-5 py-3 py-md-5">
            <div class="container mt-5">
                <div class="row justify-content-md-center">
                    <div class="col-12 col-md-11 col-lg-8 col-xl-7 col-xxl-6">
                        <div class="bg-white p-4 p-md-4 rounded-4 shadow-sm">


                            <section id="tabs" class="project-tab ">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <nav>
                                                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                                    <a class="nav-item nav-link active" id="nav-home-tab"
                                                        data-bs-toggle="tab" data-bs-target="#nav-home" role="tab"
                                                        aria-controls="nav-home" aria-selected="true">AddAbstract</a>
                                                    <a class="nav-item nav-link" id="nav-profile-tab"
                                                        data-bs-toggle="tab" data-bs-target="#nav-contact" role="tab"
                                                        aria-controls="nav-profile"
                                                        aria-selected="false">UpdateAbstract</a>

                                                </div>
                                            </nav>
                                            <div class="tab-content mt-4" id="nav-tabContent">
                                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                                    aria-labelledby="nav-home-tab">
                                                    <h6 class="text-muted mb-3  font-weight-bold"> Enter your own
                                                        abstract</h6>
                                                    <form #addAbs="ngForm" novalidate
                                                        (ngSubmit)="addAbs.form.valid&& OnAddNewAbstract()">
                                                        <div class="row gy-3 overflow-hidden">
                                                            <div class="col-12 mt-3 mb-3">
                                                                <label for="info" class="form-label">Info <span
                                                                        class="text-danger">*</span></label>
                                                                <textarea class="form-control" id="info" #info="ngModel"
                                                                    [(ngModel)]="this.addabstract.abstractDef" name="info" rows="2"
                                                                    required></textarea>
                                                                <span *ngIf="this.addloginning&&info.errors?.['required']">
                                                                    <div class="invalid-tooltip d-block text-center">
                                                                        pls fill the required field
                                                                    </div>
                                                                </span>
                                                                <span *ngIf="this.addloginning&&updateinfo.errors?.['maxlength']">
                                                                    <div class="invalid-tooltip d-block text-center">
                                                                        maxlength
                                                                    </div>
                                                                </span>
                                                            </div>
                                                            <div class="col-12 mb-3">
                                                                <div class="mb-4">
                                                                    <label for=" " class="form-label">Image <span
                                                                            class="text-danger">*</span></label>
                                                                    <input type="file"
                                                                        class="form-control form-control-lg"
                                                                        #img="ngModel" [(ngModel)]="this.addabstract.abstractImage"
                                                                        name="addimages" id="addimages" (change)=" onAddFileChanged($event)"
                                                                        placeholder="No file selected" required>

                                                                    <span
                                                                        *ngIf="this.addloginning&&img.errors?.['required']">
                                                                        <div
                                                                            class="invalid-tooltip d-block text-center">
                                                                            pls fill the required field
                                                                        </div>
                                                                    </span>
                                                                </div>
                                                            </div>


                                                            <div class="col-12">
                                                                <div class="d-grid">
                                                                    <button class="btn btn-primary btn-lg"
                                                                        (click)="this.addloginning=true" type="submit">Add
                                                                        in
                                                                        now</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>

                                                <div class="tab-pane fade" id="nav-contact" role="tabpanel"
                                                    aria-labelledby="nav-contact-tab">
                                                    <h6 class="text-muted mb-3  font-weight-bold"> Enhance the
                                                        conceptual summary for clarity
                                                    </h6>
                                                    <form #updateAbs="ngForm" novalidate
                                                        (ngSubmit)="updateAbs.form.valid&&onUpdateAbstract()">
                                                        <div class="row gy-3 overflow-hidden">
                                                            <div class="col-12 mt-3 mb-3">
                                                                <label for="info" class="form-label">Info <span
                                                                        class="text-danger">*</span></label>
                                                                <textarea class="form-control" id="info" #updateinfo="ngModel"
                                                                    [(ngModel)]="this.updatesAbstract.abstractDef" name="info" rows="2"
                                                                    required ></textarea>
                                                                <span *ngIf="this.updateloginning&&updateinfo.errors?.['required']">
                                                                    <div class="invalid-tooltip d-block text-center">
                                                                        pls fill the required field
                                                                    </div>
                                                                </span> 
                                                            </div>
                                                            <div class="col-12 mb-3">
                                                                <div class="mb-4">
                                                                    <label for="image" class="form-label">Image <span
                                                                            class="text-danger">*</span></label>
                                                                    <input type="file"
                                                                        class="form-control form-control-lg"
                                                                        #updateimage="ngModel" [(ngModel)]="this.updatesAbstract.abstractImage"
                                                                        (change)=" onUpdateFileChanged($event)"
                                                                        name="image" 
                                                                        placeholder="No file selected" required>

                                                                    <span
                                                                        *ngIf="this.updateloginning&&updateimage.errors?.['required']">
                                                                        <div
                                                                            class="invalid-tooltip d-block text-center">
                                                                            pls fill the required field
                                                                        </div>
                                                                    </span>
                                                                </div>
                                                            </div>


                                                            <div class="col-12">
                                                                <div class="d-grid">
                                                                    <button class="btn btn-info btn-lg"
                                                                        (click)="this.updateloginning=true"
                                                                        type="submit">Update
                                                                        now</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="modal " id="statussuccesssModal" tabindex="-1" role="dialog" data-bs-backdrop="static"
    data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body text-center p-lg-4">
                <a href="#!" class="text-success display-1">

                    <fa-icon [icon]="success"></fa-icon>
                </a>
              
             <div *ngIf="this.showSuccessModel=='add'"  >
                <h4 class="text-success mt-2">Add sucessfully</h4>
                <p class="mt-2 text-center ">Check It Now
                </div>
             <div *ngIf="this.showSuccessModel=='update'">
                <h4 class="text-success mt-2">update sucessfully</h4>
                <p class="mt-2 text-center ">Check It Now
                </div>
                
             
               
                    <button type="button" class="btn btn-sm btn-success" (click)="sucessModel()">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="modal " id="statusErrorModal" tabindex="-1" role="dialog" data-bs-backdrop="static"
    data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body text-center p-lg-4">
                <a href="#!" class="text-danger display-1">

                    <fa-icon [icon]="error"></fa-icon>
                </a>
                <div *ngIf="this.showErrorModel=='Service.Max_Limit_reached_Def'"  >
                    <h4 class="text-danger mt-2"> Max Limit Reached</h4>
                    <p class="mt-2 text-center ">Pls Check Words Not <br> More Than Of 300
                    </div>
                    <div *ngIf="this.showErrorModel=='Service.Max_Limit_reached_Img'"  >
                        <h4 class="text-danger mt-2"> Max Limit Reached</h4>
                        <p class="mt-2 text-center ">Pls Check Img Size 
                        </div>
                <p>
                    <button type="button" class="btn btn-sm btn-danger" (click)="existsModel()">Ok</button>
            </div>
        </div>
    </div>
</div>

