<app-header></app-header>

<div class="container-fluid   ">
  <div class="row justify-content-center min-vh-100 align-items-center ">
    <section class="  py-3 py-md-5 py-xl-8">
      <div class="container">
        <div class="row justify-content-center ">
          <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">

            <div class="card border border-light-subtle rounded-4">
              <div class="card-body p-3 p-md-4 p-xl-5">

                <h4 class="text-center mb-4">Password Reset</h4>
                <form #updatelog="ngForm" novalidate (ngSubmit)="updatelog.form.valid&&getUserNow()">
                  <p class="text-center mb-4">Provide the email address associated with your account to recover your
                    password.</p>
                  <div class="row gy-3 overflow-hidden">
                    <div class="col-12">
                      <div class="form-floating mb-3">
                        <input type="email" class="form-control" name="email" id="email" #email="ngModel"
                          [(ngModel)]="login.emailId" placeholder="name@example.com" required>
                        <label for="email" class="form-label">Email</label>

                        <span *ngIf="this.resetpassword&&email.errors?.['required']">
                          <div class="invalid-tooltip d-block text-center">
                            pls fill the required field
                          </div>
                        </span>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="d-grid">
                        <button class="btn btn-primary btn-lg" (click)="this.resetpassword=true"
                          type="submit">VerifyEmail</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
  </div>
</div>


<div class="modal  " id="modalId" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered  modal-md" role="document">
    <div class="modal-content" id="modal-dialog">

      <div class="modal-body">
        <div class="existicon">

          <button type="button" (click)=" onBackTopassword()" class="btn-close bg-white " data-bs-dismiss="modal"
            aria-label="Close"></button>
    
        </div>
        <form #updatelog="ngForm" novalidate (ngSubmit)="updatelog.form.valid&&resetNow()">
          <div class="row gy-3 overflow-hidden">
            <div class="text-center ">

              <a class="display-1  text-muted">

                <fa-icon [icon]="lock"></fa-icon>
              </a>
              <h3>{{this.login.emailId}}</h3>
            </div>
            <div class="col-12">
              <div class="form-floating mb-3">
                <input type="password" class="form-control" #password="ngModel" [(ngModel)]="login.password"
                  name="email" id="password" placeholder="name@example.com" required>
                <label for="password" class="form-label">Newpassword</label>
                <span *ngIf="this.updatepassword&&password.errors?.['required']">
                  <div class="invalid-tooltip d-block text-center">
                    pls fill the required field
                  </div>
                </span>
              </div>
            </div>
            <div class="col-12">
              <div class="form-floating mb-3">
                <input type="password" class="form-control" #confirmPassword="ngModel"
                  [(ngModel)]="login.confirmPassword" name="email" id="confirmPassword" placeholder="name@example.com"
                  required>
                <label for="confirmPassword" class="form-label">ConfirmPassword</label>
                <span *ngIf="this.updatepassword&&confirmPassword.errors?.['required']">
                  <div class="invalid-tooltip d-block text-center">
                    pls fill the required field
                  </div>
                </span>
              </div>
            </div>

            <div class="text-center mt-3">
              <button class="btn btn-success w-50 mb-4  " (click)="this.updatepassword=true" type="submit">ResetNow
              </button>
            </div>
          </div>

        </form>

      </div>

    </div>
  </div>
</div>


<div class="modal " id="statusErrorsModal" tabindex="-1" role="dialog" data-bs-backdrop="static"
  data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body text-center p-lg-4">
        <a href="#!" class="text-danger display-1">

          <fa-icon [icon]="error"></fa-icon>
        </a>
        <h4 class="text-danger mt-2">PasswordMisMatched..!</h4>
        <p class="mt-2 text-center ">Password & ConfirmPassword
          <br> Not Match
        <p>
          <button type="button" class="btn btn-sm btn-danger" (click)="closeModel()">Ok</button>
      </div>
    </div>
  </div>
</div>
<div class="modal " id="statussuccesssModal" tabindex="-1" role="dialog" data-bs-backdrop="static"
  data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body text-center p-lg-4">
        <a href="#!" class="text-success display-1">

          <fa-icon [icon]="success"></fa-icon>
        </a>
        <h4 class="text-success mt-2">ResetSucessfully..!</h4>

        <p>
          <button type="button" class="btn btn-sm btn-success" (click)="sucessModel()">Ok</button>
      </div>
    </div>
  </div>
</div>